<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/head'); %>
    <%- include('./partials/mode'); %>
</head>

<body>
    
    <%- include('./partials/navbar'); %>

        <div class="text-2xl p-20">
            <h3 class="text-3xl mb-10">About Us</h3>
            <h1 class="text-zinc-700 mb-10 text-center">We at Open Mind Voyagers, as a team strive together to provide information and new technological insights
                to the people or any technological enthusiast to make them reach new horizons by providing knowledge to
                them about hot and latest technologies in the market.</h1>

            <h1 class="text-zinc-700 mb-10 text-center">We hope to build a community where every one can thrive and develop by gaining technological knowledge in
                these developing times. At Open Mind Voyagers, our mission extends beyond just disseminating
                information. We aim to foster a vibrant community where individuals can not only access cutting-edge
                technologic insights but also actively engage with them. </h1>

            <h1 class="mb-10 text-zinc-700 text-center">Through collaboration, discussion, and shared learning, we aspire to create an environment where everyone
                can thrive and evolve together.Our commitment to providing the latest information on emerging
                technologies remains unwavering. Whether it's artificial intelligence, blockchain, quantum computing, or
                any other groundbreaking field, we're dedicated to keeping our community abreast of the most recent
                developments.</h1>

            <h1 class="mt-15 text-zinc-700 text-center">Moreover, we understand the importance of not just knowing about these technologies but also
                understanding their implications, applications, and potential impact on society. As we continue on this
                journey, we invite you to join us in exploring the frontiers of innovation. Together, let's embark on a
                quest for knowledge, growth, and transformation. The future is brimming with possibilities, and with the
                collective power of our community, we're poised to seize them all. Welcome to Open Mind Voyagers, where
                curiosity knows no bounds, and the pursuit of knowledge knows no limits. </h1>

        </div>

        <%- include('./partials/footer'); %>

</body>

</html>