<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/head'); %>
    <%- include('./partials/mode'); %>
</head>

<body>
    
    <%- include('./partials/navbar'); %>

    <div class="container">
        <div class="box2 section2">
            <h2>Lenovo IdeaPad 20GB RAM, 1TB SSD</h2>
                <img src="/images/csm_IMG_3165_11ba687762.jpg" alt="Lenovo IdeaPad">
                <p>Lenovo IdeaPad laptops typically feature a sleek and modern design, with a durable build quality. They are generally lightweight and portable, making them suitable for both home and on-the-go use. This particular model comes with a generous 20GB of RAM and a 1TB SSD, offering high-performance computing capabilities, ample storage space, and a range of features for professionals, students, and multimedia enthusiasts.</p>
        </div>
        <div class="box2 section2">
            <h2>Vivo V30 Pro 5G, Released on 7 March 2024</h2>
                <img src="/images/Vivo-V30-Pro-in-hand-rear.png" alt="Vivo V30 Pro">
                <p>Vivo V-series smartphones often feature sleek and modern designs with premium materials. The inclusion of "5G" in the name indicates that the Vivo V30 Pro 5G supports fifth-generation (5G) cellular network connectivity. This allows for significantly faster download and upload speeds, reduced latency, and improved network reliability compared to previous generations of mobile networks like 4G LTE To support the power-intensive features and 5G connectivity, the Vivo V30 Pro 5G is expected to come with a sizable battery capacity. This OS offers a range of customization options and additional features tailored to Vivo devices, providing a unique user experience. Expect the Vivo V30 Pro 5G to offer a range of connectivity options such as Wi-Fi, Bluetooth, GPS, and NFC</p>
        </div>
        <div class="box2 section2">
            <h2>Samsung Galaxy Tab S8, Released on 25 Feb 2022</h2>
                <img src="/images/samsung-galaxy-tab-s8-plus-hero.jpg" alt="Samsung Galaxy Tab S8">
                <p>Samsung Galaxy Tab S8 is a high-end tablet device manufactured by Samsung Electronics. The Galaxy Tab S8 likely features a high-resolution display with vibrant colors and sharp detail. The Galaxy Tab S8 is expected to be powered by a high-performance chipset, providing smooth and responsive performance Samsung usually offers a range of optional accessories for its tablets, including keyboard covers, protective cases, and docking stations, to enhance productivity and usability. The Galaxy Tab S8 likely offers multimedia featuressuch as high-quality audio and support for streaming services, gaming, and content creation.</p>
        </div>

    </div>

    <%- include('./partials/footer'); %>
        
</body>

</html>